<div class="action-buttons">
  <button
    mat-raised-button
    (click)="formLoadingTrigger.next('user')"
    type="button"
  >
    Load User Form
  </button>
  <button
    mat-raised-button
    (click)="formLoadingTrigger.next('company')"
    type="button"
  >
    Load Company Form
  </button>
</div>
<div *ngIf="formConfig$ | async as formConfig">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <h2>{{ formConfig.description }}</h2>
    <ng-container
      *ngFor="
        let control of formConfig.controls
          | keyvalue : dynamicControlResolver.comparatorFn
      "
    >
      <ng-container
        [ngComponentOutlet]="
          dynamicControlResolver.resolve(control.value.controlType)
        "
        [ngComponentOutletInjector]="
          control.key | controlInjector : control.value
        "
      ></ng-container>
    </ng-container>
    <button [disabled]="form.invalid" type="submit">Save</button>
  </form>
</div>
