<div class="action-buttons">
  <button
    mat-raised-button
    (click)="formLoadingTrigger.next('user')"
    type="button"
  >
    Load User Form
  </button>
  <button
    mat-raised-button
    (click)="formLoadingTrigger.next('company')"
    type="button"
  >
    Load Company Form
  </button>
</div>
<div *ngIf="formConfig$ | async as formConfig">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <h2>{{ formConfig.description }}</h2>
    <ng-container *ngFor="let control of formConfig.controls | keyvalue">
      <ng-container
        [ngComponentOutlet]="
          dynamicControlResolver.resolve(control.value.controlType) | async
        "
        [ngComponentOutletInjector]="
          control.key | controlInjector : control.value
        "
      ></ng-container>

      <div
        class="input-error"
        *ngIf="
          form.get(control.key)?.touched &&
          form.get(control.key)?.hasError('required')
        "
      >
        {{ control.value.label }} is required
      </div>
      <div
        class="input-error"
        *ngIf="
          form.get(control.key)?.touched &&
          form.get(control.key)?.hasError('email')
        "
      >
        Please enter a valid email
      </div>
      <div
        class="input-error"
        *ngIf="
          form.get(control.key)?.touched &&
          form.get(control.key)?.hasError('minlength')
        "
      >
        {{ control.value.label }} must be at least
        {{ form.get(control.key)?.getError("minlength")?.requiredLength }}
        characters long
      </div>
    </ng-container>
    <button [disabled]="form.invalid" type="submit">Save</button>
  </form>
</div>
