
fieldset {
    margin-top: 32px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    mat-form-field {
        margin: 10px;
        min-width: 250px;
        max-width: 300px;

        @media screen and (min-width: 500px) {
          width: 300px;
        }
      }
  }