<fieldset [formArrayName]="control.controlKey">
  <legend>{{ control.controlConfig.label }}</legend>
  <ng-container *ngFor="let control of controls; let i = index">
    <ng-container
      [ngComponentOutlet]="dynamicControlResolver.resolve(control.controlType)"
      [ngComponentOutletInjector]="i | controlInjector : control"
    ></ng-container>
  </ng-container>
  <button
    type="button"
    (click)="addControl()"
    *ngIf="interactive"
  >
    {{ interactive.buttonText }}
  </button>
</fieldset>
